{% extends 'base.html.twig' %}

{% block navigation_class %}
{# override to none #}
{% endblock %}

{% block main %}
    <section>
        <div class="container">
            <h1>401 - Unauthorised</h1>
        </div>
    </section>
{% endblock %}
